@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&display=swap');
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

* {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.2;
}

body {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  background-color: #fbfbfb;
  background-image: url("/images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

nav {
  display: none;
  animation: fadeIn 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background-color: rgb(26, 39, 78);
  box-shadow: 1px 1px 3px #333;
  -webkit-animation: fadeIn 0.2s;
}

nav img {
  max-height: 80%;
  position: absolute;
  margin: auto 0;
  top: 0;
  left: 4px;
  bottom: 0;
  font: 1.5em "Alegreya Sans SC";
  color: #6687f3;
  text-shadow: 1px 1px 3px #333;
}

.nav-container-sticky {
  display: block;
}

#limit {
  height: 1px;
}

.logo {
  height: 160px;
  text-align: center;
  background-color: rgba(233, 233, 233, .5);
  margin-bottom: 1em;
}

.logo h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.logo img {
  margin: 0.6em 0 0;
  padding: 0 1em;
  max-width: 100%;
  height: auto;
  font: 2em "Alegreya Sans SC";
  color: rgb(34, 51, 103);
  text-shadow: 1px 1px 3px white;
}

.logo .address {
  font-size: 0.9em;
  font-weight: 700;
  margin: 1em 0 0;
}

.container {
  margin: -50px 0 50px;
}

.card {
  font-size: 1em;
  max-width: 80%;
  margin: 0 auto 1.8em;
  border-radius: 4px;
  background-color: #fefefe;
  box-shadow: #777 1px 2px 4px;
  padding: 1em;
}

.card form {
  max-width: 20em;
  margin: 0 auto;
}

.card label, .card input, .card textarea {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card textarea {
  height: 4em;
}

.form {
  background-color: gold;
}

.upper {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .8em;
  padding-top: 1em;
}

.card input[type=submit], .button-center {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ddd;
}

.card input[type=submit]:hover, .button-center:hover {
  color: whitesmoke;
  background-color: rgb(26, 39, 78);
}

.card ul {
  padding-left: 1em;
}

.card li {
  margin-bottom: 0.5em;
}

.card td {
  font-size: 0.8em;
  padding: 0 0.25em 0;
}

.return-card {
  width: 50%;
  margin: 2em auto;
  line-height: 1.5;
  padding: 1em;
  border-left: 4px solid rgb(26, 39, 78);
  border-right: 4px solid rgb(26, 39, 78);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

#form-ok, #form-error {
  display: none;
}

.button-center {
  margin: 1em auto 0;
  display: block;
}

.google-maps {
  height: 330px;
}


@media only screen and (min-width: 380px) {
  .logo {
    height: 180px;
  }
  .logo h2 {
    font-size: 1.9em;
  }
  .card td {
    font-size: 1em;
  }
  .card ul {
    padding-left: 40px;
  }
}

@media only screen and (min-width: 470px) {
  .logo {
    height: 250px;
  }
  .logo h2 {
    font-size: 1.9em;
  }
  .card {
    font-size: 1em;
    max-width: 80%;
  }
  .card td {
    font-size: 1em;
  }
}

@media only screen and (min-width: 740px) {
  .logo {
    height: 230px;
    background-color: transparent;
  }
}

@media only screen and (min-width: 840px) {
  .logo {
    height: 240px;
    background-color: transparent;
  }
  .logo h2 {
    font-size: 1.9em;
  }
  .card {
    font-size: 1em;
    max-width: 720px;
  }
  .card td {
    font-size: 1em;
  }
  .card ul {
    padding-left: 4em;
  }
}
